body {
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; /* así centro la imagen de fondo */
}

ol {
  font-size: 55px; /* cambia tamaño lista ordenada */
  margin-left: 25px;
  color:#368A3F;
  font-weight: bold;
}
.ruiz {
  width: 200px;
  transition: transform 0.2s;
}
.imagen {
  width: 350px;
  transition: transform 0.2s;
}

li .imagen2,
li .imagen3 {
  position: relative;
  top: 16px;
}

.imagen2 {
  width: 200px;
  transition: transform 0.2s;
}

.imagen3 {
  width: 600px;
  transition: transform 0.2s;
}

.imagen:hover,
.imagen2:hover,
.ruiz:hover {
  transform: scale(1.1);
}
.imagen3:hover {transform: scale(1.06);}

li {
  margin-bottom: 20px;
}
.cargando {
  background-color: #0000006b;
  border-collapse: collapse;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: -4px -4px 6px #000000;
  margin-bottom: 10px;
}

.loading {
  width: 400px;
  display: block;
  margin: auto;
}

table {
  margin: auto;
}
hr {
  width: 600px;
  margin-left: 0;
}